[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vim-irblack"]
	path = bundle/vim-irblack
	url = http://github.com/wgibbs/vim-irblack.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = http://github.com/Raimondi/delimitMate.git
[submodule "bundle/zencoding-vim"]
	path = bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = http://github.com/bingaman/vim-sparkup.git
